.without-padding {
  padding: 0px;
}



.menu a{
  font-size: 18px;
  text-decoration: none;

}

.menu {

  padding-top: 85px;
  width: 10%;
  position: fixed;
  z-index: 1;
  text-align: center;
  
 


}


.fixed-div{
  max-width: 800px;
  height: auto;
}


.resume_buttons {
   display: table-cell;
  text-align: center;
  vertical-align: middle;
  }

.connect_table{
  text-align: center;
  
}


a:active {
  color: #1414F5;
}



.text {
    text-align: center;
    color: #000000;
    font-family: 'futura-pt', 'Helvetica', 'Arial', sans-serif !important;
    font-size: 16px;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 30px;
}



ul{
  margin:0 auto;
  list-style-type: none;
  padding: 0;
}

li{
  font-weight: 500;
  padding-left: 16px;
  padding-bottom: 8px;
  display: inline;

}

.current_page_item a{
  font-weight: 800;
} 

#now {
  padding-left: 80px;
}


#homecover {
  width:100%;
  background-repeat:no-repeat;
  background-position:center; 
  padding-right: 0px;
  text-align: left;

da
}





.img-gallery {
  width: 80%
  margin:100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto, minmax(250px,1fr));
  grid-gap: 30px;

}


.work_gallery {
  width:250px;
  height: 300px;
}

.expertise{
  padding-top: 48px;
   margin-bottom: 46px;

}

.expertise_1{
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;


}

.img-responsive10{
  border-radius: 40px;

}





.connect_text{
   text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  float: left;
  color: #000000;
    font-size: 3vw; /* Browsers that do not support "MIN () - MAX ()" and "Clamp ()" functions will take this value.*/
    font-size: max(46px, min(1vw, 32px)); /* Browsers that do not support the "clamp ()" function will take this value. */
    font-size: clamp(46px, 3vw, 32px)
}




















.text-block{
  color: #1a1b1f;
  text-transform: none;
  font-family: Generalsans, sans-serif;
  font-size: 16px;
  padding-top: 24px;
  margin-left: 80px;
  margin-right: 100px;

}


 .linkabout_connect {
  height: 420px;
  color: #1a1b1f;
 }


.product_decor {
  z-index: -1;
  position: relative;
  width: 82px;
  height: 62px;
 
}


.archive-image{
  width: 180px;
  height: auto;
  margin-top:-62px;
  margin-left: -88px;
  position: relative;
  z-index: -1;
  opacity: 90%;
}



.star_2{

  position: relative;
  height: auto;
  margin-bottom: 140px;
  width: 48px;
  z-index: -1;
  height: 44px;
  width: auto;


}








.gradient {
  display: inline;
    background: linear-gradient(50deg, #FCAF45
    0%, #e7357f 50%, #6a21f5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}





.introtext{
font-family:"Montserrat", sans-serif;
  color: black; 
  margin-top: 40px;
  font-weight: 600;
  margin-bottom: 30px;
   font-size: 4vw; /* Browsers that do not support "MIN () - MAX ()" and "Clamp ()" functions will take this value.*/
    font-size: max(48px, min(1vw, 62px)); /* Browsers that do not support the "clamp ()" function will take this value. */
    font-size: clamp(48px, 4vw, 62px)




}


.archive-text{
    display: inline-block;
  margin-top: 100px;
   margin-bottom: 16px;
  text-align: left;
  font-weight: 640;
  line-height: 48px;
  font-family: "Montserrat", sans-serif; 
  color: #000000;
   font-size: 3vw; /* Browsers that do not support "MIN () - MAX ()" and "Clamp ()" functions will take this value.*/
    font-size: max(46px, min(1vw, 32px)); /* Browsers that do not support the "clamp ()" function will take this value. */
    font-size: clamp(46px, 3vw, 32px)
}



.projectcover_1 {
  text-align: center;
}


hr.solid {
  border-top: 0.25px solid #dbdbdb;
  margin-bottom: -0.5px;
  margin-left: 0px;
}





.line{
  width: 100%;
  color: #787d7c;
  padding-top: 20px;
  text-align: center;
}







.line1{
  width: 100%;
  color: #787d7c;
 padding-top: 20px;
  text-align: center;
  margin-bottom: 50px;

}

.arrow{
opacity: 0.6; 
}

.arrow:hover{
  opacity: 0.7;
}


.linetext{
  font-size: 24px;
  font-weight: 600;
  max-width: 650px;
  text-align: center;
  margin: 0 auto;
 padding-top: 60px;
  font-family: "Montserrat", sans-serif;
}


.detailtext{
    font-size: 14px;
  text-align: center;
  max-width: 375px;
   font-family: 'futura-pt', 'Helvetica', 'Arial', sans-serif !important;
   margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 4px;
    line-height: 22px;
}





.copyright{
   font-size: 14px;
  text-align: center;
  max-width: 375px;
   font-family: 'futura-pt', 'Helvetica', 'Arial', sans-serif !important;
   margin: 0 auto;
    padding-bottom: 32px;
    line-height: 22px;
    padding-top: 14px;

    
}








#gallerycontainer1{
 margin: 0 auto;
 text-align: center;
 margin-top: 80px;
 width: fit-content;
   
    
}



#gallerycontainer2{
     margin: 0 auto;
    margin-top: 80px;
    width: 100%;
      padding-bottom: 80px;
}

.img-class{
  position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.projecttitle {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  font-weight: bolder;


  
}

.projecttype {
  font-family:"Montserrat", sans-serif;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #7c7c7b;
  float: left;
} 

.introcontainer{
  background-color: #ff937d;
   background-image: url(myphotofilter.png);
    background-repeat:no-repeat;
    background-position:right; 
 width: 100%;
  background-repeat:no-repeat;
    background-position:left; 
    text-align: center;  

}

.uplink{
  opacity: 0.5; 
  max-width: 50px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.uplink:hover{
  opacity: 1;
}

.linkabout{
  background-color: #eff0f0;
  width: 100%;
 
 
}


.left_aligment li{
  position: left;
}

.linkabout_connect{
  background-color: #eff0f0;
  width: 100%;
 
}

.networks{
  padding-top: 25px;
  padding-bottom: 22px;
 display: block;
 text-align: center;
}




.networks1{
  padding-top: 25px;

 display: block;
 text-align: center;
}




.made{
  color: #fbd5cc;
  font-size: 11px;
  padding-bottom: 5px;
  padding: 0 20px;

}


.behance{
  opacity: 0.5;
  width: 100px;
  margin-right: 4px;
}

.behance:hover{
  opacity: 1.0;
  width: 100px;
  margin-right: 4px;
}

.linkedin{
  opacity: 0.5;
   width: 100px;
}
.linkedin:hover{
  opacity: 1.0;
   width: 100px;
}

@media (max-width: 992px) {
  .menu{
    
    vertical-align: middle;
  }

  .affix{
    position: relative;
  }

  .menutable {
    display: inline;
  } 





  .title{
  
  font-weight: 640;
  line-height: 48px;
  font-family: "Montserrat", sans-serif; 
  color: #000000;
   font-size: 3vw; /* Browsers that do not support "MIN () - MAX ()" and "Clamp ()" functions will take this value.*/
    font-size: max(46px, min(1vw, 32px)); /* Browsers that do not support the "clamp ()" function will take this value. */
    font-size: clamp(46px, 3vw, 32px)
      text-align: center;

}


.effecthidden li{
  margin: 32px;
  padding: 32px;
  display: inline;


}

.role{
 margin-left: 10px;
}



}


.landing {
  padding-top: 90px;
  z-index: 0;




}


.home_landing {
  margin-left: 14%;
  margin-right: 14%;
}





.descriptiontext{
  color: #787d7c;
  margin: 0 auto;

}

.text{
  max-width: 650px;
  margin: 0 auto; 
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
 font-family: 'futura-pt', 'Helvetica', 'Arial', sans-serif !important;
 font-style: normal;
    color: #333;
 


}


.description1{
  font-family: 'futura-pt', sans-serif;
  max-width: 920px;
  color: #787d7c;
  margin-bottom: 50px;
  text-align: justify;

}





.title{
    font-weight: 600;
    font-size: 32px;
    vertical-align: baseline;
    font-family: 'futura-pt', 'Helvetica', 'Arial', sans-serif !important;
  text-align: center;
  padding-top: 62px;
}

.role{
  font-size: 14px;
  padding-bottom: 20px;
  line-height: 1.5;
}

.description{
  font-size: 14px;
  line-height: 1.7;
  max-width: 600px;
float: left;
}

.images-container{
  margin: 0 auto;
  margin-bottom: 80px;
  font-size: 12px;
  text-align: center;
  
  
}

.images-container1{
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 80px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  max-width: 910px;
  text-align: center;
  max-width: 800px;
  }


.quote{
 
  text-align: center;

  font-style: italic;
  margin: 0 auto;
  padding-right: 0;
  text-decoration: none;
  }

a:focus {
  text-decoration: none;
}


.quoteinside{
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;
  text-decoration:none;  
  text-align: center;

  }

.badgeunit{
  max-width: 100px;
  margin-right: 30px;
  margin-top: 20px;

}



.playfulbet-back{
background-color: red;
}
 

#badgesgallery{
  max-width: 325px;
  margin: 0 auto;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;

}

.badgeunit{
  max-width: 75px;
  display: inline-block;
  margin-right: 30px;
  margin-top: 20px;
}


.badgeunit img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
 
.quoteinside{
  max-width: 255px;
  float: right;
  text-align: center;
  text-transform: inherit;
  font-style: italic;
  margin-bottom: 50px;
  }

.badgeunit{
  max-width: 80px;
  display: inline-block;
  margin-right: 30px;
  margin-top: 20px;
}


.   -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.badgeunit:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.badgetitle{
  margin-top: 15px;
  font-size: 10px;
  line-height: 120%;

 color: #5d5d5d;
  text-align: left;
  letter-spacing: .05em;
  text-transform: uppercase;
  text-align: center;



}

.text-container{

font-size: 18px;
font-family: 'Merriweather',serif;
  line-height: 30px;
  margin: 0 auto;
  max-width: 650px;
  margin-top: 60px;
  margin-bottom: 60px;



}


.unit {
  display: inline-block;
  max-width: 400px;
  height: auto;
}



.unit_1 {
  min-width:20%;
  height: auto;
  float: left;
  padding-top: 0px;
  text-align: left;
  padding-right: 24px;
  padding-bottom: 24px;
}

.contactbutton{
  margin-bottom: 60px;
  margin-top: 10px;
  max-width: 208px;
}

.contactbutton1{
  max-width: 200px;
  margin-bottom: 30px;
  border-radius: 12px;
}


.galleryitem1{
  margin: 0 auto;
}




.text_about{
  color: #000000;
  font-family: 'futura-pt', 'Helvetica', 'Arial', sans-serif !important;
  font-size: 16px;
  text-align: left;
 padding-right: 32px;
 padding-left: 32px;
 




  

}


.down{
 text-align: center;
 padding-bottom: 0px;
 padding-top: 20px;
 background-color: #7aa56c;

}

#content{

 background-color: red;

}

.videoexample{
  width: 910px;
  text-align: center;
}





.contactlinks{
  height: 200px;
  background-color: #7aa56c;
  color: #ffffff;
  font-size: 18px;
  margin: 0 auto;
  padding-bottom: 0px;
  padding-top: 50px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.contacttext {
  font-family: "Montserrat", sans-serif;
  font-style: inherit;
  text-align: left;
  position: relative;
  margin:0 auto;
  width: 275px;
}



a:hover{
    color: #1414F5;
 text-decoration: none;


  }


.aboutcontainer{
  display: inline;
padding-top: 0px;
  width: 80%;
  margin-left: 100px;


}


  a{
  text-decoration: none;
  color: #000000;
  }




h5{
  font-size: 10px;

  }

  .active {
    color: black;
  }
  



h4{
  padding-left: 10px;
  text-align: center;
  font-size: 16px;
  max-width: 320px;
  text-align: center;
  margin: 0 auto;
  font-family: 'futura-pt', 'Helvetica', 'Arial', sans-serif !important;
  line-height: 30px;
  text-align: justify-all;


  }

  video{
    max-width: 1210px;
    display: inherit;
    margin: 0 auto;
  }

.aboutimage{
  margin-top: 110px;
  max-width: 500px;
  align-items: center;
  float: right;

  
}


  
  



#herehomegallery {
  margin-top: 20px;
 

}

.images{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}


.tools{
width: 50px;
  display: inline-block;

}

.quoteline{
  margin: 0 auto;
}



.wrapper { 
width: 100%;
display: table;
padding-top: 0px;
  
}




.wrapper div {
   width: 100%; 
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
  
}









#one { 

  float: right;
  text-align: center;



 }

    






#two {  
  text-align: center;  




  
}



#two_buttons {  
  text-align: center;

 
}


.homepageend {
  background-color: #eff0f0;
  min-height: 300px;   

}









  


.wrapper1 div {
   width: 100%; 
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   position: relative;

}


#one1 { 
  float: right;
  text-align: center;



 }

#two1 { 
  float: right; 
  text-align: center;
}



h1{
  font-size: 26px;
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

h2{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}



@media screen and (min-width: 600px) {
   .wrapper {
      height: auto;  // clearing 
   }
   #experience_column_1 {max-width:20% ;float: left; }
   #experience_column_2 { max-width:20% ;float: left; }
   #experience_column_3 { max-width:20% ;float: left; }
   #experience_column_4 { max-width:20% ;float: left; }
   #experience_column_5 { max-width:20% ;float: left; }


}





@media screen and (min-width: 600px) {
   .wrapper1 {
      height: auto;  // clearing 
   }
   #one1 {max-width:50% ;float: right; }
   #two1 { max-width:50% ;float: left; }
}



@media screen and (min-width: 600px) {
   .wrapper {
      height: auto;  // clearing 
   }
   #one {max-width:50% ;float: left; }
   #two { max-width:50% ;float: right; }
}

@media screen and (min-width: 600px) {
   .wrapper1 {
      height: auto;  // clearing 
   }
   #one1 {max-width:50% ;float: right; }
   #two1 { max-width:50% ;float: left; }
}



.label {
  color: #5d5d5d;
  text-align: left;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-size:12px;
  margin-left: -7px;
}

.position-text{
    font-size: 18px;
  text-align: left;
  margin-right: 8px;
}


.archive{
  padding-bottom: 42px;
  text-align: center;
  z-index: 1;


}




.projectimages{
  padding-top: 20px;
  padding-bottom: 20px;

margin: 0 auto;


}



.cover{
margin-top: 10px;


}

.introimage {
  margin: 0 auto;
  width: 1210px;
}


#cover{
  max-width: 70px;
  margin: 8px;
}

#cover1{
  max-width: 50px;
}

.up {
  max-width: 50px;
   opacity: 0.5; 

    float: right;
  margin-top: 100px;
    padding-right: 200px;


}


.star{
  z-index: 1;
  width: 48px;
  height: 48px;
  transition: all.7s;
  position: relative;
  margin-top: 30px;

  
}

.about_link{
  font-weight: 600;
  color: #405DE6;
}




.location{
  width: auto;
 height: 20px;
  float: left;
  z-index: 3;
 
}




.star_1{
  z-index: 1;
  width: 90px;
  height: 90px;
  transition: all.7s;
  position: relative;
}





.landing li {
  padding-left: 4px;

}




#dragme .rotating {
  width: 14vw;
  height: 14vw;
    min-width: 50%;
  max-width: 100%;
    min-height: 50%;
  max-height: 100%;
  background: #36A7B7;
  -webkit-animation: rotating 20s linear infinite;
  -moz-animation: rotating 20s linear infinite;
  -ms-animation: rotating 20s linear infinite;
  -o-animation: rotating 20s linear infinite;
  animation: rotating 20s linear infinite; 

}



#dragme2 .rotating,
#dragme4 .rotating {
    width: 18vw;
    height: 15vw;
  background-image: url("triangle-bg.png");
  background-size: 100% 100%;
  -webkit-animation: rotating 10s linear infinite;
  -moz-animation: rotating 10s linear infinite;
  -ms-animation: rotating 10s linear infinite;
  -o-animation: rotating 10s linear infinite;
  animation: rotating 10s linear infinite; 
}

#dragme2 .rotating a,
#dragme4 .rotating a {
  line-height: 2vw;
}

#dragme3 .rotating {
  width: 14vw;
  height: 14vw;
  border-radius: 50%;
  background: #E31D88;
  -webkit-animation: rotating-rev 15s linear infinite;
  -moz-animation: rotating-rev 15s linear infinite;
  -ms-animation: rotating-rev 15s linear infinite;
  -o-animation: rotating-rev 15s linear infinite;
  animation: rotating-rev 15s linear infinite; 
}

#dragme3 .rotating a {
  vertical-align: middle;
  text-align: center;
}

#dragme3 .rotating a {
  vertical-align: middle;
  text-align: center;
}



.rotating {
  cursor: move;
  display: block;
  border: none !important;
}

#dragme .rotating:hover,
#dragme2 .rotating:hover,
#dragme3 .rotating:hover,
#dragme3 .rotating:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused; /* Safari and Chrome */
}

.draggable .rotating a {
  font-size: 1.2vw;
  border: none;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-align: center;
}


#dragme2 .rotating,
#dragme4 .rotating {
  -webkit-animation: rotating 10s linear infinite;
  -moz-animation: rotating 10s linear infinite;
  -ms-animation: rotating 10s linear infinite;
  -o-animation: rotating 10s linear infinite;
  animation: rotating 10s linear infinite; 
}

#dragme4 {
  display: none;
}

@media screen and (max-width: 1150px) {
  #dragme2 {
    display: none;
  }
  #dragme4 {
    display: block;
  }
}









@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating-rev /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes rotating-rev {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}














.text-menu{
   position: fixed;
   color: #1a1b1f;
  z-index: 2;
  width: 100%;
   padding-right: 19px;
  padding-left: 23px;
  opacity: 90%;
  height: 146px;
  padding-top: 24px;
  background-image:linear-gradient(to bottom, rgba(255,255,255,200), rgba(0,0,0,0));
}


.text-menu_1{
   position: fixed;
   color: #1a1b1f;
  z-index: 1;
  width: 100%;
   padding-right: 19px;
  padding-left: 23px;
  padding-top: 24px;
}

.text-menu_work{
  position: fixed;
   color: #1a1b1f;
  z-index: 1;
  width: 100%;
  padding-right: 80px;
  padding-left: 10%;
  opacity: 80%;
  height: 120px;
}





.name {
  color: black; 
  font-size:16px;
  padding-top: 16px;



}



.buttons {
  font-size: 18px;
  font-weight: 1200;
  opacity: 100%;


}








.star_1:hover {
  transform: rotate(180deg);

}



.star:hover {
  transform: rotate(180deg);
}

.up:hover{
  opacity: 1;
}


.tools1{
 margin-bottom: 
}

.img-responsive{
  margin:0 auto;

}


#experience {
  padding-left: 160px;
}



.experience_column {
  float: left;
  width: 20%;


}

/* Clear floats after the columns */
.experience_row:after {
  content: "";
  display: table;
  clear: both;
}