.without-padding {
	padding: 0px;
}



.menu a{
  font-size: 20px;
  text-decoration: none;
}

.menu {
  padding-top: 15px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  position: fixed;
}

ul{
  margin:0 auto;
  padding:0;
  list-style-type: none;
}

li{
  letter-spacing: 2;
  font-weight: 500;
  padding: 8px;
}

.current_page_item a{
  font-weight: 800;
} 



#homecover {
  width:100%;
  height: 768px;
  background-repeat:no-repeat;
  background-position:center; 
  padding-right: 0px;
  text-align: center;


}





.introtext{
  font-family:'Lato', sans-serif;
  margin:0 auto;
  display: inline-block;
  color: white; 
  letter-spacing: 5px;
  font: inherit;
  margin-top: 80px;
  font-size:14px;
}

.line{
  width: 100%;
  color: #787d7c;
 padding-top: 20px;
  text-align: center;

}


.line1{
  width: 100%;
  color: #787d7c;
 padding-top: 20px;
  text-align: center;
  margin-bottom: 50px;

}

.arrow{
opacity: 0.6; 
}

.arrow:hover{
	opacity: 0.7;
}


.linetext{
  font-variant: small-caps;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 600;
  max-width: 650px;
  text-align: center;
  margin: 0 auto;
 padding-top: 100px;
  font-family: 'Lato';
}




#gallerycontainer{
 margin: 0 auto;
 text-align: center;
   
    
}



#gallerycontainer1{
 margin: 0 auto;
 text-align: center;
 margin-top: 80px;
   
    
}


.unit{

    display: inline-block; 
  
    max-width: 240px;
    height: : auto;
}

.unit1{

    display: inline-block; 
  
    max-width: 300px;
    height: : auto;
    margin: 20px;
}
    
.menuunit {
  display: inline-block; 
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-top: 40px;

}


}

.img-class{
  position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.projecttitle {
	margin-top: 10px;
	font-family:'Lato', sans-serif;
	font-size: 14px;
	line-height: 120%;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: left;
	font-weight: bolder;

	
}

.projecttype {
	font-family:'Lato', sans-serif;
	font-size: 12px;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #7c7c7b;
	float: left;
} 

.introcontainer{
	background-color: #ff937d;
	 background-image: url(myphotofilter.png);
    background-repeat:no-repeat;
    background-position:right; 
 width: 100%;
	background-repeat:no-repeat;
    background-position:left; 
    text-align: center;  

}

.uplink{
	opacity: 0.5;	
  max-width: 50px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
}

.uplink:hover{
	opacity: 1;
}

.linkabout{
  background-color: #eff0f0;
}

.networks{
	padding-top: 25px;
	padding-bottom: 50px;
 display: block;
 text-align: center;
}




.networks1{
  padding-top: 25px;

 display: block;
 text-align: center;
}




.made{
	color: #fbd5cc;
	font-size: 11px;
	padding-bottom: 5px;
  padding: 0 20px;

}


.behance{
	opacity: 0.5;
  width: 100px;
}
.behance:hover{
	opacity: 1.0;
  width: 100px;
}

.linkedin{
	opacity: 0.5;
   width: 100px;
}
.linkedin:hover{
	opacity: 1.0;
   width: 100px;
}

@media (max-width: 992px) {
	.menu{
		padding-top: 0px;
	}
	.affix{
		position: relative;
	}
	#menutable li {
		display: inline;
	}	

  .title{
  
    font-weight: 300;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}

.role{
 margin-left: 10px;
}



}




.descriptiontext{
	color: #787d7c;
  margin: 0 auto;

}

.text{
  max-width: 650px;
  margin: 0 auto; 
  font-size: 14px;
  line-height: 28px;
  text-align: justify;
 font-family: 'futura-pt', 'Helvetica', 'Arial', sans-serif !important;
 font-style: normal;
    font-weight: 300;
    color: #333;
    padding-top: 60px;
   padding-bottom: 60px;
   padding-right: 20px;
   padding-left: 20px;


}


.description1{
  font-family: 'futura-pt', sans-serif;
  max-width: 920px;
  color: #787d7c;
  margin-bottom: 50px;
  text-align: justify;

}





.title{
	font-size: 30px;
  text-align: center;
  padding-top: 80px;
}

.role{
	font-size: 14px;
	padding-bottom: 20px;
	line-height: 1.5;
}

.description{
	font-size: 14px;
	line-height: 1.7;
  max-width: 600px;
float: left;
}

.images-container{
  margin: 0 auto;
  margin-bottom: 80px;
  font-size: 12px;
  text-align: center;
  
  
}

.images-container1{
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 80px;
  font-family: Lato; 
  font-size: 12px;
  max-width: 910px;
  text-align: center;
  max-width: 800px;
  }


.quote{
 
  text-align: center;

  font-style: italic;
  margin: 0 auto;
  padding-right: 0;
  text-decoration: none;
  }

a:focus {
  text-decoration: none;
}


.quoteinside{
  margin: 0 auto;
  padding-top: 100px;
  text-decoration:none;  
  text-align: center;

  }

.badgeunit{
  max-width: 100px;
  margin-right: 30px;
  margin-top: 20px;

}



.playfulbet-back{
background-color: red;
}
 

#badgesgallery{
  max-width: 325px;
  margin: 0 auto;
  text-align: center;
}

.badgeunit{
  max-width: 75px;
  display: inline-block;
  margin-right: 30px;
  margin-top: 20px;
}


.badgeunit img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
 
.quoteinside{
  max-width: 255px;
  float: right;
  text-align: center;
  text-transform: inherit;
  font-style: italic;
  margin-bottom: 50px;
  }

.badgeunit{
  max-width: 80px;
  display: inline-block;
  margin-right: 30px;
  margin-top: 20px;
}


.   -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.badgeunit:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.badgetitle{
  margin-top: 15px;
  font-family:'Lato', sans-serif;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #787d7c;
}

.text-container{

font-size: 18px;
font-family: 'Merriweather',serif;
  line-height: 30px;
  margin: 0 auto;
  max-width: 650px;
  margin-top: 60px;
  margin-bottom: 60px;



}

.contactbutton{
  margin-bottom: 60px;
  margin-top: 10px;
  max-width: 208px;
}

.contactbutton1{
  
  max-width: 200px;
  margin-bottom: 30px;
}


.galleryitem1{
  margin: 0 auto;
}





.text_about{
 text-align: center;
 padding-bottom: 40px;
}

.down{
 text-align: center;
 padding-bottom: 0px;
 padding-top: 20px;
 background-color: #7aa56c;

}

#content{

 background-color: red;

}

.videoexample{
  width: 910px;
  text-align: center;
}


.text_about{
  padding-top: 30px;
  text-align: center;
}


.contactlinks{
  height: 200px;
  background-color: #7aa56c;
  color: #ffffff;
  font-size: 18px;
  margin: 0 auto;
  padding-bottom: 0px;
  padding-top: 50px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.contacttext {
  font-family: Lato;
  font-style: inherit;
  text-align: left;
  position: relative;
  margin:0 auto;
  width: 275px;
}

.photoabout{
  margin: 0 auto;
  width: 500px;
  padding-top: 30px;

}

a:hover{
  text-decoration: none;
  }



  a{
  text-decoration: none;
  color:  #939796;
  }


h5{
  font-size: 10px;

  }
  

h4{
  padding-left: 10px;
  text-align: center;
  font-size: 16px;
  max-width: 320px;
  text-align: center;
  margin: 0 auto;
  font-family: 'futura-pt', 'Helvetica', 'Arial', sans-serif !important;
  line-height: 30px;
  text-align: justify-all;


  }

  video{
    max-width: 1210px;
    display: inherit;
    margin: 0 auto;
  }

.aboutimage{
  max-width: 400px;
  padding-top: 60px;
  margin: 0 auto;
}


#herehomegallery {
  margin-top: 20px;
 

}

.images{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}


.tools{
width: 50px;
  display: inline-block;

}

.quoteline{
  margin: 0 auto;
}



.wrapper { 
width: 100%;
display: table;

  
}

.wrapper div {
   width: 100%; 
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
  
}




#one { 



    
}










 }

#two {  
  text-align: center;  



  
}

.homepageend {
  background-color: #eff0f0;
  min-height: 300px;   

}











  


.wrapper1 div {
   width: 100%; 
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;

}


#one1 { 
  float: right;
  text-align: center;



 }

#two1 { 
  float: right; 
  text-align: center;
}



h1{
  font-size: 26px;

}




@media screen and (min-width: 600px) {
   .wrapper {
      height: auto;  // clearing 
   }
   #one {max-width:50% ;float: left; }
   #two { max-width:50% ;float: right; }
}

@media screen and (min-width: 600px) {
   .wrapper1 {
      height: auto;  // clearing 
   }
   #one1 {max-width:50% ;float: right; }
   #two1 { max-width:50% ;float: left; }
}


.projectinfo{
  
 

}

.projectimages{
  padding-top: 20px;
  padding-bottom: 20px;

margin: 0 auto;


}



.projecover{
margin-top: 10px;


}

.introimage {
  margin: 0 auto;
}


#cover{
  max-width: 70px;
}

#cover1{
  max-width: 50px;
}

.up {
  max-width: 50px;
   opacity: 0.5; 

    float: right;
  margin-top: 100px;
    padding-right: 200px;



  


}

.up:hover{
  opacity: 1;
}


.tools1{
 margin-bottom: 
}

.img-responsive{
  margin:0 auto;
}

