.without-padding {
	padding: 0px;
}



.menu a{
  font-size: 20px;
  text-decoration: none;
}

.menu {
  padding-top: 15px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  position: fixed;
}

ul{
  margin:0 auto;
  padding:0;
  list-style-type: none;
}

li{
  letter-spacing: 2;
  font-weight: 500;
  padding: 8px;
}

.current_page_item a{
  font-weight: 800;
} 



#homecover {
  width:100%;
  height:520px;
  background-repeat:no-repeat;
  background-position:center; 
  padding-right: 0px;
  text-align: center;
}

.introtext{
  font-family:'Lato', sans-serif;
  margin:0 auto;
  display: inline-block;
  color: white; 
  letter-spacing: 5px;
  font: inherit;
  margin-top: 80px;
  font-size:14px;
}

.line{
  width: 100%;
 text-align: center;
  color: #787d7c;
  padding-top: 10px;
  padding-bottom: 20px;
}

.arrow{
opacity: 0.6; 
}

.arrow:hover{
	opacity: 0.7;
}


.linetext{
  font-family:'Lato', sans-serif;
  font-variant: small-caps;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 600;
}



#gallerycontainer{
	width: 100%;
    text-align: center;
   
    
}


.unit{
    max-width: 405px;
    height: 258px;
    display: inline-block; 
    padding-bottom: 40px;
    padding-top: 40px;
    

}

.projecttitle {
	margin-top: 10px;
	font-family:'Lato', sans-serif;
	font-size: 14px;
	line-height: 120%;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: left;
	font-weight: bolder;
	color: #787d7c;
}

.projecttype {
	font-family:'Lato', sans-serif;
	font-size: 12px;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #7c7c7b;
	float: left;
} 

.introcontainer{
	background-color: #ef9a88;
	 background-image: url(myphotofilter.png);
    background-repeat:no-repeat;
    background-position:right; 
 width: 100%;
	background-repeat:no-repeat;
    background-position:left; 
    margin-top: 40px;
    text-align: center;  

}

.uplink{
	opacity: 0.4;	
	float: right;
	padding-top: 10px;
	padding-right: 20px;
}

.uplink:hover{
	opacity: 0.8;
}

.linkabout{
	padding-top: 80px;
}

.networks{
	padding-top: 25px;
	padding-bottom: 50px;
}

.made{
	color: #fbd5cc;
	font-size: 11px;
	padding-bottom: 5px;
  padding: 0 20px;

}


.behance{
	opacity: 0.5;
}
.behance:hover{
	opacity: 1.0;
}

.linkedin{
	opacity: 0.5;
}
.linkedin:hover{
	opacity: 1.0;
}

@media (max-width: 992px) {
	.menu{
		padding-top: 0px;
	}
	.affix{
		position: relative;
	}
	#menutable li {
		display: inline;
	}	

  .title{
  margin-left: 10px;
}

.role{
 margin-left: 10px;
}



}




.descriptiontext{
	font-family: 'Lato', sans-serif;
	max-width: 910px;
	color: #787d7c;
  margin: 0 auto;

}

.description1{
  text-align: justify;

}


.description1{
  font-family: 'Lato', sans-serif;
  max-width: 920px;
  color: #787d7c;
  margin-bottom: 50px;
  text-align: justify;

}





.title{
	font-size: 24px;
	margin-top: 40px;
	font-weight: 800;
}

.role{
	font-size: 14px;
	padding-bottom: 20px;
	line-height: 1.5;
}

.description{
	font-size: 14px;
	line-height: 1.7;
  max-width: 600px;
float: left;
}

.images-container{
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 80px;
  font-family: Lato; 
  font-size: 12px;
  max-width: 910px;
  text-align: center;
  background-color: #f4f5f5;
  
}

.images-container1{
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 80px;
  font-family: Lato; 
  font-size: 12px;
  max-width: 910px;
  text-align: center;
  }


.quote{
  max-width: 280px;
  text-align: center;
  text-transform: inherit;
  font-style: italic;
  margin-bottom: 50px;
  margin: 0 auto;
  padding-right: 0;
  text-decoration: none;
  }


.quoteinside{
  margin: 0 auto;
  }

.badgeunit{
  max-width: 75px;
  display: inline-block;
  margin-right: 30px;
  margin-top: 20px;
}


.


.playfulbet-back{
background-color: red;
}
 

#badgesgallery{
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.badgeunit{
  max-width: 75px;
  display: inline-block;
  margin-right: 30px;
  margin-top: 20px;
}


.badgeunit img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
 
.quoteinside{
  max-width: 255px;
  float: right;
  text-align: center;
  text-transform: inherit;
  font-style: italic;
  margin-bottom: 50px;
  }

.badgeunit{
  max-width: 75px;
  display: inline-block;
  margin-right: 30px;
  margin-top: 20px;
}


.   -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.badgeunit:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.badgetitle{
  margin-top: 10px;
  font-family:'Lato', sans-serif;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bolder;
  color: #787d7c;
}

.text-container{
 
  font-size: 14px;
  text-align: left;
  margin: 0 auto;
  max-width: 450px;
  margin-top: 30px;
  margin-bottom: 30px;


}

.contactbutton{
  margin-bottom: 60px;
  margin-top: 10px;
}


.galleryitem1{
  max-width: 600px;
  margin: 0 auto;
}





.text_about{
 text-align: center;
 padding-bottom: 40px;
}

.down{
 text-align: center;
 padding-bottom: 0px;
 padding-top: 20px;
 background-color: #7aa56c;

}

#content{

 background-color: red;

}

.videoexample{
  width: 910px;
  text-align: center;
}


.text_about{
  padding-top: 30px;
  text-align: center;
}


.contactlinks{
  height: 200px;
  background-color: #7aa56c;
  color: #ffffff;
  font-size: 18px;
  margin: 0 auto;
  padding-bottom: 0px;
  padding-top: 50px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.contacttext {
  font-family: Lato;
  font-style: inherit;
  text-align: left;
  position: relative;
  margin:0 auto;
  width: 275px;
}

.photoabout{
  margin: 0 auto;
  width: 500px;
  padding-top: 30px;

}

a:hover{
  text-decoration: none;
  }



  a{
  text-decoration: none;
  color:  #939796;
  }


h5{
  font-size: 10px;

  }
  
h4{
  padding-left: 10px;
  text-align: center;
  font-size: 16px;
  }
